<h1>Delete a Bookmark</h1>

<form action="/deleted" method="post">
  <input type="text" name="rm_bookmark" placeholder="Enter the title of the bookmark you would like to delete">
  <input type="submit" value="Submit">
</form>
