<h1>Welcome to Bookmark Manager</h1>

<ol>
  <% @links.each do |link| %>
  <li><a href="<%= link.url %>"><%= link.title %></a>
    <form action="/update" method="post">
      <input type="hidden" name="id" value="<%= link.id %>">
      <input type="submit" value="Edit <%= link.title %>">
    </form>
  </li>
  <% end %>
</ol>

<form action="/add">
  <input type="submit" value="Add">
</form>

<form action="/delete">
  <input type="submit" value="Delete">
</form>

<form action="/update">
  <input type="submit" value="Update">
</form>
