<h1>Welcome to Bookmark Manager</h1>

<ol>
  <% @links.each do |link| %>
  <li><a href="<%= link.url %>"><%= link.title %></a>
    <form action="/edit" method="post">
      <input type="submit" name="<%= link.id %>" value="Edit">
    </form>
  </li>
  <% end %>
</ol>

<form action="/add">
  <input type="submit" value="Add">
</form>

<form action="/delete">
  <input type="submit" value="Delete">
</form>

<form action="/update">
  <input type="submit" value="Update">
</form>
