<h1>Update a Bookmark</h1>

<form action="/updated" method="post">
  <input type="text" name="new_title" placeholder="new title">
  <input type="text" name="new_url" placeholder="new url">
  <input type="submit" value="Submit">
</form>
